/* =========MAIN HEADER CONTAINER=========*/

#page-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px 0 10px 0;
    #chat-icon {
      position: fixed;
      width: 3.75rem;
      height: 3.75rem;
      top: 1.2rem;
      left: 1.9rem;
      z-index: 99;
      }
    @include mq('sm'){
    height: 100px;
    padding-bottom: 15px;
  }
    @include mq('md') {
        #logo-container {
          width: 25%;
        }
      }
}
/* TOP ROW OF THE PAGE HEAD */
  #top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 55%;
    margin: 0 0.5em -0.5em 0.5em;
    @include mq('xs') {
      width: 100%;
    }

  }


#logo-container {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 50%;
 margin-right: auto;
 order: 1;
 #logo{
    max-width: 450px;
    width: 100%;
    box-sizing: border-box;
    }
@include mq('sm') {
    width: 40%;
    margin-right: auto;
 #logo {
    max-width: 340px;
 }
   }
  }

#menu-phone{
  display: flex;
  order: 2;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 30%;
  #menu-button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      width: 4em;
      height: 3.5rem;
      background-color: map-get($more-colors, 'darkgrey');
      border-radius: 3px;
      }


      .hamburger:hover {
        background-color: #22242e;
        }


      @include mq ('sm'){
         display: -ms-flex;
         order: 3;
         width: 50%;
       }

      @include mq('lg') {
         width: 57%;
         .header-btn  {
               margin: 0.2em;
             }


           }
          }







/* Header Buttons  SUPPORT AND CONTACT */
  .header-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 7.2em;
    height: 3em;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-right: 3px;
    line-height: 35px;
    text-align: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;
                }
      a:hover {
        text-decoration: none;
      }
    i {
      margin-right: 0.2em;
      text-decoration: none;
      }
      @include mq('xs') {
        width: 30%;
        justify-content: space-between;

        }
      @include mq('sm') {
            display: none;
            }
      @include mq('md'){
              display: flex;

            }
    }
  #support-link {
    background-color: map-get($more-colors, 'cardblue');
    }
  #support-link:hover {
    background-color: map-get($more-colors, 'cardbluehover');
      }
  #contact-link {
    background-color: map-get($more-colors, 'searchgrey');
    }
  #contact-link:hover {
    background-color: map-get($more-colors, 'searchhovergrey');
    }

  #phone-icon-container {
      display: flex;
      justify-content: flex-start;
      width: 27px;
      height: 35px;
      #phone-icon {
          height: 27px;
          width: 27px;
          transform: rotate(1deg);

        }
        @include mq('sm'){
        display: none;
       }
      }

  #phone-icon-container:hover {
    border-bottom: 4px solid black;

  }


  /* small search bar */
  #search-sm {
    display: none;

    width: 18em;

    input {
      width: 13em;
      height: 3.4em;
      border: 1.1px solid #e5e5e5;
      border-width: 1px;
      border-color: #ccc;
      box-shadow: rgba(0,0,0, 0.075);
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      padding: 5px 15px;
               }
     textarea:focus, input:focus{
         outline: none;
         box-shadow: inset rgba(0,0,0, 0.075) 0px 1px 1px 0px, rgba(91, 192, 222, 0.6) 0px 0px 8px 0px;
         border-color: rgba(91, 192, 222, 0.6);
         transition: box-shadow ease-in-out 0.3s, border-color ease-in-out 0.3s;

       }
     @include mq('sm') {
        display: flex;
     }
     @include mq('md'){
       width: 3.5em ;
       input {
         display: none;
       }
       button {
         border-radius: 3px;
       }
     }
     @include mq('lg') {
         width:17em ;
         margin-left: 0.3em;
         input{
             display: flex;
             width: 13em ;
           }
         button{
           border-radius: 0px 3px 3px 0px;

           }
         }
   }

      #search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($more-colors, 'searchgrey');
        height: 3.4em;
        width: 55px;
        border-left: none;
        border-radius: 0 3px 3px 0;
        outline: none;
        border-image: none;
        border-style: none;

       i {
         margin-top: 0.2em;
         color: white;
         font-size: 23px;
       }
       #search-button:hover {
         background-color: map-get($more-colors, 'searchhovergrey')
       }
       @include mq('xs'){
        display: none;
        input {
        display: none;
          }
        }

    }

/* Hides the phone icon from the smallest breakpoint */






    #search-bar-container {
      display: flex ;
      justify-content: center;
      align-items: center;
      height: 0.3rem;
      width: 100%;
      margin: 2em 0 2em 0;
      order: 3;
      ::placeholder {
          font-size: 15px;
          color: #555;
            }
        #search-input {
            display: block ;
            background-color: rgba(0,0,0,.1);
            outline: 1px solid hsla(0,0%,100%,.2);
            border: 2px solid rgba(0,0,0,.1);
            border-right: none;
            width: calc(100% - 55px);
            height: 45px;
            padding-left: 12px;
            border-radius-left: 2px;
            z-index: 1;
                  }
        .search-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 45px;
            background-color: rgba(0,0,0,.1);
            border: 2px solid rgba(0,0,0,.1);
            border-left: none;
            border-radius-right: 2px;
            z-index: 1;
            button {
              display: block;
              background: transparent;
              border: none;
              outline: none;
              width: 101%;
              font-size: 20px;
              height: 1.35em;
              border-left: none;

                      }
                    }

        @include mq('sm')  {
          display: none;
        }
      }
