#breadcrumbs-contact {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3em;
    background-color: #fff;
    border-top: 1px solid #333645;
    @include mq("sm") {
      display: flex;
    }
  }

#breadcrumbs-contact-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    span {
      width: 100%;
      font-size: 13px;
      font-weight: 500;
      a{
        font-weight: 700;
      }
    }
  }
// Office Card Styling
#offices-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333645;
    width: 100%;
    height: 5em;
    color: #fff;
    font-weight: 400;
    z-index: 2;
    @include mq('md') {
        background-color: #fff;
        color: #333645;
        box-shadow: inset 0 35px 35px -35px rgba(0,0,0,.125) !important;
        height: 8em;
    }
}

#offices-header-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 38px;
      font-weight: 400;
      margin-bottom: 0;
    }
  @include mq('md') {
    align-items: flex-end;
  }
}

#office-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 10px 20px 10px;
    background-color: #fff;
}



#office-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    @include mq('md') {
      justify-content: space-between;

    }
}

.office-address {
  min-height: 8em;
}
.office-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20em;
    background-color: #fff;
    padding: 25px;
}


.office-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
}



.office {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1em 0 1em 0;
    height: 100%;
    min-height: 500px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.125);
    h5 {
      font-size: 1.125rem;
    }
    p {
      font-size: .8125rem;
    }
    @include mq('md') {
      width: 31.5%;
    }
}



#office-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    font-size: 0.9em;
}


// ================================================================================================================================================================================================================================================================================================================================================================================================================


// Contact Form Styling

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 2;
}


#contact-form-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-bottom: 25px;
    @include mq('lg') {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
}



#contact-form-container {
    order: 2;
    width: 100%;
    background-color: #e6e7e9;
    padding: 10px 30px 25px 30px;
    border-radius: 10px;
    @include mq('lg') {
      order: 1

    }
}



#contact-message-entry {
  @include form-input;
   height: 100px;
   padding-top: 15px;
}



.checkbox-container {
    flex-direction: row;
    max-height: 10rem;
    min-width: 10rem;
    font-size: 18px;
    margin-top: 0.8em;
    font-weight: 600;
}



#enquiry-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    height: 3em;
}



#contact-chkbox {
    appearance: none;
    width: 1.8em;
    height: 1.8em;
    border: 3px solid #333645;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;

    & ~ .icon-checkbox-checked {
        visibility: hidden;
        height: 20px;
        margin: 0.5em 1.5em 0 -1.4em ;
        transform: scale(1.9);
        z-index: 1;
    }
}



#contact-chkbox:checked {
    & ~ .icon-checkbox-checked{
        visibility: visible !important;
                  }
    }



.contact-notify {
    display: flex;
    @include form-input;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    width: 100%;
    height: 3.09em;
    padding: 0 15px 0 15px;
    color: #fff;

    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 50%;
      align-items: center;
      margin-right: 0;
    }
}

.close-button {
    background: transparent;
    border: none;
    i {
      font-size: 20px;
      cursor: pointer;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      pointer-events: none;
    }
}
.close-button:hover{
    i {
      opacity: 0.5;
    }
}


.alert-display {
    display: flex;
}

.alert-hide {
    display: none;
}

.alert-danger {
    color: #a94442;
    background-color: #F2DEDD;
    border-color: #ebccd1;
}

.alert-success {
    border-color: #d6e9c6;
    background-color: #2ecc71;
}





//Address section styling links to contact styling.



#address-container {
    width: 100%;
    order: 1;
    padding-bottom: 25px;
    p {
      font-size: 1rem;
      font-weight: 600;
    }
    h3{
      font-size: 1.625rem;
      font-weight: 600;
    }
    @include mq('lg') {
      width: 30%;
      order: 2;
      margin-left: 25px;
  }
}
