/* ========= CONTENT BOXES OFFERING SERVICES INFORMATION ========= */


.content-boxes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.03);


    a {
      display: flex;
      cursor: pointer;
      text-decoration: none !important;
      width: 100%;
            }
    .p {
      max-width: 80%;
    }
    @include mq('md'){
      flex-direction: row;
                    }


}

#content-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 2.5rem  0 1rem 1.5rem;
  @include mq('sm') {
    margin: 2.5rem 0 1rem 0;
  }



    .top-3-box {
        font-size: 18px;

        @include mq('sm') {
        height: 15em;

              }
        @include mq('md'){
            width: 30.5%;
            height: 20em;


                              }
        @include mq('lg') {
            flex-direction: column;
            justify-content: flex-start;
            width: 31.1%;
            height: 15em;


            .icn {

                  }
            p {

                text-align: left;
              }

            }
          }
      .bottom-4-box {
        font-size: 18px;

        @include mq('sm') {
            max-width: 46.2%;
            min-height: 17em;
                        }
        @include mq('md'){
            max-width: 47.2%;
            min-height: 17em;

                    }
        @include mq('lg'){
            width: 22.8%;
            max-height: 18.2em;
            min-height: 16em;


            h3 {
              width: 100%;

            }
            p {
              width: 100%;
              }
            }
          }





}

.content-box {
    @include content-boxes
    @include themes($theme-colors);
    color: map-get($more-colors, 'darkgrey');
    height: auto;
    width: 100%;
    padding: 15px 0 15px 0;
    margin: 0 1.5rem 1.5rem 0rem;
    .content-tag {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      height: 100%;


    }
    h2 {

        font-size: 17px;
        text-align: center;
        font-weight: 400;
       }
    .p {

        font-size: 13px;
        text-align: center;

       }

    .icn {
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        i {
            margin-right: -1.8px;
            font-size: 23px;
          }
        }

    @include mq('xs'){
      min-height: 15em;
    }
    @include mq('sm'){

    }
  }
    .telephone {
        transform: rotate(-55deg);
          }


.line-div {
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    width: 1.85em;
}

.read-more-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 47px;
    border: none;
    border-radius: 3px;
    .read-span {
      text-align: center;
      white-space: normal;
      line-height: 50px;
      font-size: 18px;
      min-width: 100%;
      font-weight: 500;
      text-transform: uppercase;

    }
}
