

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  h1 h2{ font-weight: 600};
  p {font-weight: 400};
  min-width: 100vw;
  background-color: rgba(0,0,0,.05);
  letter-spacing: .4px;
  line-height: 1.42857143;
  color: map-get($more-colors, 'darkgrey');


}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header */
header  {
  background-color: grey;
  box-sizing: border-box;
  width: 100vw;

}

#page-head {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 23vh;
  margin: 0;


  }

#mobile-top-row {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: -2% -2% 0 -2%;
}

#logo-container {
  max-width: 450px;
  width: 87%;
  height: 50%;
  margin: 2.1rem 0rem 1rem 0.5rem;
  order: -1;
  box-sizing: border-box;

  }

#logo {
  width: 95%;
  height: 98%;
    }
#chat-icon {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  top: 1.2rem;
  left: 1.9rem;
  z-index: 99;
  }

#search-bar-container {
  display: flex;
  max-width: 600px;
  height: 2.9rem;
  width: 100%;
  margin: -0.5rem 0.5rem 0rem 0.5rem;
  order: 3;
  #search-icon-container {
    width: 50px;
    height: auto;
    background-color: rgba(0,0,0,.1);
    border: 2px solid rgba(0,0,0,.1);
    border-left: none;

    }
::placeholder {
    font-size: 15px;
    color: #555;
      }

  }

#search-input {
  background-color: rgba(0,0,0,.1);
  outline: 1px solid hsla(0,0%,100%,.2);
  border: 2px solid rgba(0,0,0,.1);
  border-right: none;
  width: calc(100% - 30px);
  height: auto;
  padding-left: 12px;
  }


  #search-icon {
    margin: 10px 0px 0px 15px;
    width: 1.25em;
    height: 1.25em;
    border-left: none;
    }


#search-button {
  display: none;
  margin-right: 2.8rem;
  width: 2rem;
  order: 9;
  }

#links-container {
  visibility: hidden;
  order: 5;
  align-items: flex-start;
  }

#menu-button-container {
  max-width: 600px;
  margin: 2rem 1.2rem 0rem 0.23rem;
  width: 4.0rem;
  height:auto;
  color: black;
  height: 2.0rem;
  order: 2;
  #menu-button {
    height: 3.5rem;
    width: 4.0rem;
    cursor: pointer;
    border-radius: 3px;
  }
}


#phone-icon-container {
  margin: 3.0rem 2rem 0rem 0.8rem;
  width: 37px;
  color: black;
  height: 2.0rem;
  order: 1;
  #phone-icon {
    height: auto;
    width: 93%;
    transform: rotate(-5deg);

  }
}


/* image slider */

main {

}


#image-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background: linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,.45) 100%, transparent 25%),
   url("../images/cyber.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    color: white;
    font-size: 45px;
    font-weight: 600;
  }
  p {
    color: white;
    text-align: center;
    font-size: 19px;
    width: 80%;
        }

  #cyber-btn {
    background-color: #f62459;
    border-color: #f62459;
    border-radius: 3px;
    color: white;
    width: 14em;
    height: 4.7em;
    cursor: pointer;

  }

  .slider-button {
    display: flex;
    margin-left: 1.8rem;
    font-size: 18px;
  }

  #arrow-button {
    font-size-adjust: auto;
    font-size: 20px;
    padding-left: 10px;
    min-height: 5px;
    min-width: 5px;
  }
}


/* Content Boxes */


.content-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -0.5em 1.5em -0.5em;
}

.content-box {
  @include content-boxes
  @include themes($theme-colors);
  color: map-get($more-colors, 'darkgrey');

        h2 {
          margin: 5em 1.5em 0.27em 1.5em;
          padding: 5px;
          font-size: 22px;
          text-align: center;
          font-weight: 400;

        }
        .p {
          margin: 0em 0.5em 3em 0.5em;
          padding: 30px;
          font-size: 16px;
          text-align: center;

        }

        .icn {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 55px;
          min-height: 55px;
          margin: 2em 0 -5em 0;
          border-radius: 50%;
          i {
            font-size: 21px;
                  }
          #telephone {
            transform: rotate(-50deg);
            margin-left: 0.2em;
          }

          }

        }

        .line-div {
          align-items: center;
          justify-content: center;
          border-bottom: 3px solid black;
          margin-bottom: -1em;
          width: 1.85em;

        }
        .read-more-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          min-width: 145px;
          min-height: 55px;
          max-height: 55px;
          max-width: 145px;
          margin: -3em 0 2em 0;
          border: none;
          border-radius: 3px;
          .read-span {
            white-space: normal;
            line-height: 50px;
            font-size: 19.5px;
            min-width: 100%;
            font-weight: 500;
            margin-left: 1.7em;
            text-transform: uppercase;

          }
        }


/* about-us-container */

.about-us-container {
display: flex;
flex-direction: column;
background-color: map-get($more-colors, 'darkgrey');
padding: 25px 0 25px 0;
  }

#about-text-container {
  display: flex;
  flex-direction: column;
  margin: 0.7em 1.7em 0.5em 1em;
  line-height: 2em;
  padding: 5px 5% 5px 5px;
  h1 {
    font-weight: 500;
    font-size: 35px;
    margin: 0 0.25em 0.8em 0;
    color: white;
  }

    .about-text  {
       font-weight: 500;
       font-size: 17px;
       margin: 0 0.25em 1.5em 0.25em;
       color: white;

     }
      #intro-text {
        font-weight: 700;
        font-size: 17px;
        margin: 0 0.5em 1.5em 0;
        color: white;
      }
    }

#abt-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 1em 0.1em;
    justify-content: center;
    max-width: 13em;
    min-height: 50px;
    max-height: 50px;
    cursor: pointer;
    color: inherit;
    background-color: #fff;
    border-radius: 5px;
    #culture-btn-txt {
      font-weight: 500;
      font-size: 17px;;
      margin: 0.1em 0 0 0.4em;


    }
      #culture-arrow {
        margin: .1em 0em 0 0.5em;
        font-size: 18px;
        min-height: 5px;
        min-width: 5px;

        }
      }

#latest-contatiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  min-height: 7rem;
  max-height: 5rem;

    h1 {
      align-self: center;
      min-height: 4.3rem;
      max-height: 5rem;
      border-bottom: 7px solid black;
      margin: 1em 0 -1em 0.8em;
      text-transform: uppercase;
      font-size: 21px;
      font-weight: 600;

    }
}



/* cards linked with bootstrap */
#card-container {
  diplay: flex;

  .card {
      margin: 2rem 2rem 2rem 1rem;
      width: 93.5% !important;
      .crd-ttl-purp {
        color: map-get($theme-colors, 'design') !important;
        font-weight: 600;
      }
      .crd-ttl-blue {
        color: map-get($more-colors, 'cardblue') !important;
        font-weight: 600;
        }
      }

  .image-hover-zoom {
    overflow: hidden;

    .card-img-top {
      transition: transform 0.5s ease;
      transform: scale(1);
    }
    .card-img-top:hover{
     transition: transform 0.5s ease;
     transform: scale(1.2);
    }
  }


  .btn-purple {
      background-color: map-get($theme-colors, 'design') !important;
      color: white;
      }
  .btn-purple:hover {
      background-color: map-get($more-colors, 'cardpurplehover') !important;
      color: white;
          }

  .btn-blue {
    background-color: map-get($more-colors, 'cardblue') !important;
    color: white;
  }
  .btn-blue:hover {
    color: white !important;
    background-color: map-get($more-colors, 'cardbluehover') !important;
  }
}


/* Sign Up Form */
#form-container {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    color: inherit;
    height: 35rem;
    h2{
      margin: 1em 1.5em -1em 2.8rem;
      font-size: 39px;
      font-weight: 400;
      }

    .form-input{
      @include form-input
      .ast-red {
        color: #d24d57;
        font-size: 18px;
      }
    }
    #checkbox-container{
        display: flex;
        flex-direction: row;
        max-height: 10rem;
        min-width: 10rem;
        font-size: 18px;
        margin: 1.9em 0 1.2em 2.8rem;
        font-weight: 600;

        label {
            margin: 0.8em 0 0 0.1em;
            width: 80%;
            font-size: 16px;
            line-height: 30px;
            cursor: pointer;
                  }

        #email-chkbox{
          appearance: none;
          width: 1.8em;
          height: 1.8em;
          margin-top: 0.5em;
          border: 3px solid map-get($more-colors,'darkgrey');
          border-radius: 3px;
          cursor: pointer;
          z-index: 2;

          & ~ .icon-checkbox-checked {
            visibility: hidden;
            positon: absolute;
            margin-left: -1em;
            margin-top: 0.8em;
            padding-right: 1em;
            transform: scale(1.9);
            z-index: 1;
          }
        }
        #email-chkbox:checked {
          & ~ .icon-checkbox-checked {
            visibility: visible;
            }
          }
        }
        .subscribe-btn {
          width: 7.3em;
          height: 2.8em;
          text-transform: uppercase;
          line-height: 35px;
          white-space: normal;
          margin: 0 0 0 2.8em;
          border-radius: 3px;
          background-color: map-get($more-colors,'darkgrey');
          color: white;
          font-weight: 500;
          font-size: 1.063rem;
            }
        }

 /* Website Footer */

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: map-get($more-colors, 'darkgrey');
  color: white;
  font-size: 14px;
  height: 50rem;
  padding-top: 2.3em;
  .footer-item {
    margin-left: 1.2em;
    font-weight: 500;
    line-height: 1.375rem;
    }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5em;
  }
  .contact-list {
    margin-bottom: 1.3rem;
  }

  }
