// * {
//   border: 2px solid red;
// }

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
  }

/* ======== BODY STYLES ========= */
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    h1 h2{ font-weight: 600};
    p {font-weight: 400};
    min-width: 100vw;
    background-color: #fff;
    letter-spacing: .4px;
    line-height: 1.42857143;
    color: map-get($more-colors, 'darkgrey');
    a {
      text-decoration: none;
      color: inherit;
      }
    a:hover {
        color: inherit;
        text-decoration: underline;
      }
    ul {
        list-style: none;
        padding-left: 0;
          }
}



/* Header SCSS */


header  {
    background-color: grey;
    box-sizing: border-box;
    width: 100%;
  }

/* =========MAIN HEADER CONTAINER=========*/

#page-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    height: 23.8vh;
    width: 100%;
    margin: 0;
    padding: 20px 5px 0px 5px;

      #top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 45%;
        margin: 0 0 .5em -0.5em 0.5em;
      }


     #logo-container {
       display: flex;
       align-items: center;
       justify-content: flex-start;
       width: 65%;
       margin-right: auto;
       order: 1;
     }
     #logo{
        max-width: 450px;
        width: 100%;
        box-sizing: border-box;

        }

      #chat-icon {
        position: fixed;
        width: 3.75rem;
        height: 3.75rem;
        top: 1.2rem;
        left: 1.9rem;
        z-index: 99;
        }
    #menu-phone{
      display: flex;
      order: 2;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      width: 150px;

      #menu-button-container {
          display: flex;
          justify-content: center;
          margin: 0.5em 0 0.5em 0em;
          width: 4.2rem;
          height: 3.9rem;
          color: black;
          order: 2;
          #menu-button {
              height: 100%;
              width: 100%;
              cursor: pointer;
              border-radius: 3px;
          }
        }
      }

    /* Header search bar/input containers*/
    .hidden {
      display: none;

    }

    #search-sm {
      display: none;
    }


    /*links and menu button styles*/
    .header-btn {
        display: none;

        }
    }








/* ========= IMAGE SLIDER ========= */

main {

}


#image-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background: linear-gradient(to right, rgb(0,0,0), rgba(0,0,0,.45) 100%, transparent 25%),
     url("../images/cyber.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    #image-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100% !important;
      width: 80% !important;

    }
     h1 {
        margin: 0 0 0.5em 0;
        font-size: 48px;
        font-weight: 500;
      }
      p {
        text-align: center;
        font-size: 19.7px;
        font-weight: 500;
        width: 90%;
        max-width: 450px;
        line-height: 40px;
            }
      a {
        margin-top: 0.9em;
        padding-top: 0.84em;
        text-align: center;
        background-color: #f62459;
        border-color: #f62459;
        border-radius: 3px;
        width: 11em;
        height: 3.08em;
        cursor: pointer;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        border-style: none;
        .icon-arrow-right2 {
            font-size-adjust: auto;
            margin-left: 7px;
            min-height: 5px;
            min-width: 5px;
                }
      }


}
#cyber-btn:hover {
    background-color: #e80a42;
    text-decoration: none;
  }


/* ========= CONTENT BOXES OFFERING SERVICES INFORMATION ========= */


.content-boxes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -0.5em 1.5em -0.5em;
    width: 100vw;
  }
#content-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.content-box {
    @include content-boxes
    @include themes($theme-colors);
    color: map-get($more-colors, 'darkgrey');
    h2 {
        margin: 1em 1.5em 0.27em 1.5em;
        padding: 5px;
        font-size: 17px;
        text-align: center;
        font-weight: 400;
       }
    .p {
        margin: 0em 0.5em 1.3em 0.5em;
        padding: 25px;
        font-size: 13px;
        text-align: center;

       }

    .icn {
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;


        i {
          margin-right: -1.5px;
          font-size: 23px;
        }

        #telephone {
            transform: rotate(-55deg);
            margin-left: 0.2em;

              }
      }
    }

.line-div {
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
    margin-bottom: -1em;
    width: 1.85em;
}

.read-more-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 47px;
    margin: -2em 0 -1em 0;
    border: none;
    border-radius: 3px;
    .read-span {
      text-align: center;
      white-space: normal;
      line-height: 50px;
      font-size: 18px;
      min-width: 100%;
      font-weight: 500;
      text-transform: uppercase;

    }
}


/* =========ABOUT US CONTAINER OUR CULTURE========= */

.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: map-get($more-colors, 'darkgrey');
    padding: 25px 0 25px 0;
      }

#about-text-container {
    display: flex;
    flex-direction: column;
    margin: 0.8em 1.7em 0.5em 1em;
    line-height: 1.7em;
    padding: 5px 5% 5px 5px;
    h1 {
      font-weight: 500;
      font-size: 35px;
      margin: 0.2em 0.25em 0.8em 0;
      color: white;
    }

    .about-text  {
       font-weight: 500;
       font-size: 16px;
       margin: 0 0.25em 1.5em 0.25em;
       color: white;

     }
    #intro-text {
        font-weight: 700;
        font-size: 17px;
        margin: 0 0.5em 1.5em 0;
        color: white;
      }
    }

#abt-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin: -0.1em 0 0.8em 0.1em;
    justify-content: center;
    height: 2.7em;
    width: 180px;
    cursor: pointer;
    color: inherit;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    border-style: none;
    font-weight: 400;
    font-size: 18.2px;;
    margin: 0.1em 0 0 0.4em;

      .icon-arrow-right2 {
          margin: .1em 0em 0 0.5em;
          font-size: 18px;
          min-height: 5px;
          min-width: 5px;

        }
      }
#abt-btn-container:hover {
    background-color: #ebebeb;
    text-decoration: none;
    }

/* ========= LATEST CONTAINER SECTION HEAD ========= */

#latest-contatiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 7rem;



    h1 {
        align-self: center;
        min-height: 4.3rem;
        max-height: 5rem;
        border-bottom: 5.3px solid black;
        margin: 1em 0 -1em 0.8em;
        text-transform: uppercase;
        font-size: 21px;
        font-weight: 600;

    }
}



/* ============ NEWS CARDS LINKED WITH BOOTSTRAP ============= */

#card-container {
  diplay: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  box-shadow: inset 0 35px 35px -35px rgba(0,0,0,.125);
  padding-top: 10px;

  .card {
      margin: 2rem 4% 2rem 2%;
      width: 95% !important;

      h5 {
        font-size: 17px !important;
        margin: 1.2em 0em 1.3em 0.8em;
        font-weight: 600 !important;
        }
      p {
        font-size: 13px;
        margin: 0 0 1.9em 0.9em;
        }
      .crd-ttl-purp {
        color: map-get($theme-colors, 'design') !important;
        font-weight: 600;
      }
      .crd-ttl-blue {
        color: map-get($more-colors, 'cardblue') !important;
        font-weight: 600;
        }
      }
  #card-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .image-hover-zoom {
    overflow: hidden;

    .mini-link {
      position: absolute;
      text-align: center;
      width: 67px;
      height: 25px;
      padding: 3px 0 5px 0;
      letter-spacing: .4px;
      font-weight: 800;
      text-transform: uppercase;
      top: 10px;
      right: 0px;
      z-index: 99;
      font-size: .75rem;
      border-radius: 1px;
        }

    .card-img-top {
        transition: transform 0.5s ease;
        transform: scale(1);
        z-index: 1;
      }
    .card-img-top:hover{
        transition: transform 0.5s ease;
        transform: scale(1.2);
        opacity: 0.5;
        ursor: pointer;
           }
  }



/* News card buttons */

.btn {
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    height: 50px;
    padding-top: 10px;
    border-radius: 3px;
    text-decoration: none !important;
    }
.btn-purple {
  background-color: map-get($theme-colors, 'design') !important;
  color: white;


  }
.btn-purple:hover {
    background-color: map-get($more-colors, 'cardpurplehover') !important;
    color: white;
        }

.btn-blue {
    background-color: map-get($more-colors, 'cardblue') !important;
    color: white;
}
.btn-blue:hover {
    color: white !important;
    background-color: map-get($more-colors, 'cardbluehover') !important;

  }
}

/* ============== Client Icons ============ */
#client-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10em;
  box-shadow: inset 0 15px 20px 10px rgba(0,0,0,.125);
}
#client-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


    }

.ci {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 3em;
  transform: scale(0.9);
  .partner-color {
    display: none;
  }
  .description {
    display: none;
  }
}
.ci:hover {
  .description {
    display: flex;
  }
  .greyscale {
    display: none;
    }
  .partner-color {
    display: flex;
        }
      }

.description {
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  background-color: map-get($more-colors, 'darkgrey');
  bottom: 175%;
  width: 300px;
  height: auto;
  min-width: 260px;
  max-width: 260px;
  padding: 15px;
  .arrow-box {
    position: absolute;
    bottom: -10%;
    left: 31.2%;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: map-get($more-colors, 'darkgrey');
    color: white;
    z-index: -1;
      }

    .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 99;
        color: white;
        width: 100%;

        h3 {
          font-size: 17px;
        }
        p {
          font-size: 12px;
        }
        #client-line {
          font-size: 25px;
          transform: scale(1.5);
          margin-bottom: -0.5em;
        }

      }
    }





/* =========== SIGN UP FORM ============= */
#form-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 45px;
  background-color: #dddddd;
  #form-container {
      display: flex;
      flex-direction: column;
      background-color: #dddddd;
      color: inherit;
      width: 100%;
      h2{
          font-size: 35px;
          font-weight: 400;
          }

      #sign-up-inputs {
        display: flex;
        flex-direction: column;
        width:100%;
      }

      .form-input{
          @include form-input
          .ast-red {
              color: #d24d57;
              font-size: 18px;
          }
        }


      #checkbox-container{
          display: flex;
          flex-direction: row;
          max-height: 10rem;
          min-width: 10rem;
          font-size: 18px;
          margin-top: 0.8em;
          font-weight: 600;

          label {
              width: 80%;
              font-size: 16px;
              line-height: 30px;
              cursor: pointer;
                    }

          #email-chkbox{
              appearance: none;
              width: 1.8em;
              height: 1.8em;
              border: 3px solid map-get($more-colors,'darkgrey');
              border-radius: 3px;
              cursor: pointer;
              z-index: 2;

              & ~ .icon-checkbox-checked {
                  visibility: hidden;
                  positon: absolute;
                  height: 20px;
                  margin: 0.5em 1.5em 0 -1.4em ;
                  transform: scale(1.9);
                  z-index: 1;
              }
          }
        }
        #email-chkbox:checked {
            & ~ .icon-checkbox-checked {
              visibility: visible;
              }
            }
        .subscribe-btn {
          width: 7.3em;
          height: 2.8em;
          text-transform: uppercase;
          line-height: 35px;
          white-space: normal;
          border-radius: 3px;
          background-color: map-get($more-colors,'darkgrey');
          color: white;
          margin-top: 1.8rem;
          font-weight: 500;
          font-size: 1.063rem;
            }
        }
      }
 /* ============ WEBSITE FOOTER ============ */

#foot-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: map-get($more-colors, 'darkgrey');
    color: white;
    font-size: 13px;
    width: 100%;
    height: 35rem;


    #footer-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 5em 0 0 0;

    .footer-item {
      width: 100%;
      font-weight: 500;
      line-height: 1.375rem;
      }
  h3 {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0.8em;
    }


 /* social media footer buttons */
.socials {
    @include socials($socials-colors);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 180px;
    }

.socials-container {

  width: 46.5%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.51rem;
    border-radius: 1px;
    text-decoration: none;
    i {
        color: white;
        font-size: 25px;
          }
        }
    }
  }
}
#partner-images {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding: 0px 4% 0px 7%;
  height: 20rem;

  #google-partner {
    width: 200px;
    height: 70px!important;
    box-shadow: 1px 1px 3px map-get($more-colors, "searchgrey");

  }
  #partner-top-row, #partner-bottom-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    margin-bottom: -5em
    }
    .partner-item {
      margin: 0 1em 0 0;
      height: 60%;
      img {
        width: 90%;
        height: 100%;
      }


  }
  }
#partner-top-row {
  align-items: flex-end;
}
#partner-bottom-row {
  align-items: flex-start;
}
.color-partner {
  display: none;
}

.partner-item:hover {
  .bw-partner {
    display: none;
  }
  .color-partner{
    display: flex;
  }

}
