@mixin content-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    width: 93vw;
    margin: 25px 10px 10px 10px


}
