@mixin content-boxes {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    width: 93vw;
    margin: 25px 10px 10px 10px
}


@mixin themes($map) {
  @each $theme, $color in $map {
    &-#{$theme}{
      background-color: white;
      .icn {
          background-color: $color;
        }
      i{
          color: white;
        }
        .read-more-container{
          background-color: $color;
                }
          .read-span { color: white;
          }

      }
      &-#{$theme}:hover {
        background-color: $color;
          h2, .p {color: white;}
          .line-div {
            border-color: white;
          }
          .icn {
            background-color: white;
          }
          i {
            color: $color;
          }
          .read-more-container{
            background-color: white;
                  }
          .read-span {
            color: $color
          }

        }
      }
    }
