$theme-colors: (
    'software': #67809f,
    'it': #4183d7,
    'marketing': #2ecc71,
    'telecoms': #d64541,
    'design': #926fb1,
    'security': #f62459,
    );

$more-colors: (
    'darkgrey': #333645,
    'cardblue': #4183d7,
    'cardbluehover': #2a6ec6,
    'cardpurplehover': #7e57a0,
    );


$socials-colors: (
  'facebook': #3b5998,
  'twitter': #00aced,
  'linkedin': #0077b5,
  );

$breakpoints: (
    'xs': 767px,
    'sm': 768px,
    'md': 992px,
    'lg': 1260,
);
