@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?klt53c");
  src: url("../fonts/icomoon.eot?klt53c#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?klt53c") format("truetype"), url("../fonts/icomoon.woff?klt53c") format("woff"), url("../fonts/icomoon.svg?klt53c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stats-bars2:before {
  content: "\e99d";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-checkbox-checked:before {
  content: "\ea52";
  height: 2.2em;
  width: 2.2em;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* ======== BODY STYLES ========= */
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  min-width: 100vw;
  background-color: #fff;
  letter-spacing: .4px;
  line-height: 1.42857143;
  color: #333645;
}

body h1 h2 {
  font-weight: 600;
}

body p {
  font-weight: 400;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: underline;
}

body ul {
  list-style: none;
  padding-left: 0;
}

/* Header SCSS */
header {
  background-color: grey;
  box-sizing: border-box;
  width: 100%;
}

/* =========MAIN HEADER CONTAINER=========*/
#page-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  height: 23.8vh;
  width: 100%;
  margin: 0;
  padding: 20px 5px 0px 5px;
  /* Header search bar/input containers*/
  /*links and menu button styles*/
}

#page-head #top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 45%;
  margin: 0 0 .5em -0.5em 0.5em;
}

#page-head #logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  margin-right: auto;
  order: 1;
}

#page-head #logo {
  max-width: 450px;
  width: 100%;
  box-sizing: border-box;
}

#page-head #chat-icon {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  top: 1.2rem;
  left: 1.9rem;
  z-index: 99;
}

#page-head #menu-phone {
  display: flex;
  order: 2;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 150px;
}

#page-head #menu-phone #menu-button-container {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.5em 0em;
  width: 4.2rem;
  height: 3.9rem;
  color: black;
  order: 2;
}

#page-head #menu-phone #menu-button-container #menu-button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
}

#page-head .hidden {
  display: none;
}

#page-head #search-sm {
  display: none;
}

#page-head .header-btn {
  display: none;
}

/* ========= IMAGE SLIDER ========= */
#image-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.45) 100%, transparent 25%), url("../images/cyber.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

#image-slider-container #image-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  width: 80% !important;
}

#image-slider-container h1 {
  margin: 0 0 0.5em 0;
  font-size: 48px;
  font-weight: 500;
}

#image-slider-container p {
  text-align: center;
  font-size: 19.7px;
  font-weight: 500;
  width: 90%;
  max-width: 450px;
  line-height: 40px;
}

#image-slider-container a {
  margin-top: 0.9em;
  padding-top: 0.84em;
  text-align: center;
  background-color: #f62459;
  border-color: #f62459;
  border-radius: 3px;
  width: 11em;
  height: 3.08em;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-style: none;
}

#image-slider-container a .icon-arrow-right2 {
  font-size-adjust: auto;
  margin-left: 7px;
  min-height: 5px;
  min-width: 5px;
}

#cyber-btn:hover {
  background-color: #e80a42;
  text-decoration: none;
}

/* ========= CONTENT BOXES OFFERING SERVICES INFORMATION ========= */
.content-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -0.5em 1.5em -0.5em;
  width: 100vw;
}

#content-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-box {
  width: 95%;
  display: flex;
  display: -ms-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 3px;
  margin: 15px 20px 10px 20px;
  padding: 35px 0 45px 0;
  color: #333645;
}

.content-box-software {
  background-color: white;
}

.content-box-software .icn {
  background-color: #67809f;
}

.content-box-software i {
  color: white;
}

.content-box-software .read-more-container {
  background-color: #67809f;
}

.content-box-software .read-span {
  color: white;
}

.content-box-software:hover {
  background-color: #67809f;
}

.content-box-software:hover h2, .content-box-software:hover .p {
  color: white;
}

.content-box-software:hover .line-div {
  border-color: white;
}

.content-box-software:hover .icn {
  background-color: white;
}

.content-box-software:hover i {
  color: #67809f;
}

.content-box-software:hover .read-more-container {
  background-color: white;
}

.content-box-software:hover .read-span {
  color: #67809f;
}

.content-box-it {
  background-color: white;
}

.content-box-it .icn {
  background-color: #4183d7;
}

.content-box-it i {
  color: white;
}

.content-box-it .read-more-container {
  background-color: #4183d7;
}

.content-box-it .read-span {
  color: white;
}

.content-box-it:hover {
  background-color: #4183d7;
}

.content-box-it:hover h2, .content-box-it:hover .p {
  color: white;
}

.content-box-it:hover .line-div {
  border-color: white;
}

.content-box-it:hover .icn {
  background-color: white;
}

.content-box-it:hover i {
  color: #4183d7;
}

.content-box-it:hover .read-more-container {
  background-color: white;
}

.content-box-it:hover .read-span {
  color: #4183d7;
}

.content-box-marketing {
  background-color: white;
}

.content-box-marketing .icn {
  background-color: #2ecc71;
}

.content-box-marketing i {
  color: white;
}

.content-box-marketing .read-more-container {
  background-color: #2ecc71;
}

.content-box-marketing .read-span {
  color: white;
}

.content-box-marketing:hover {
  background-color: #2ecc71;
}

.content-box-marketing:hover h2, .content-box-marketing:hover .p {
  color: white;
}

.content-box-marketing:hover .line-div {
  border-color: white;
}

.content-box-marketing:hover .icn {
  background-color: white;
}

.content-box-marketing:hover i {
  color: #2ecc71;
}

.content-box-marketing:hover .read-more-container {
  background-color: white;
}

.content-box-marketing:hover .read-span {
  color: #2ecc71;
}

.content-box-telecoms {
  background-color: white;
}

.content-box-telecoms .icn {
  background-color: #d64541;
}

.content-box-telecoms i {
  color: white;
}

.content-box-telecoms .read-more-container {
  background-color: #d64541;
}

.content-box-telecoms .read-span {
  color: white;
}

.content-box-telecoms:hover {
  background-color: #d64541;
}

.content-box-telecoms:hover h2, .content-box-telecoms:hover .p {
  color: white;
}

.content-box-telecoms:hover .line-div {
  border-color: white;
}

.content-box-telecoms:hover .icn {
  background-color: white;
}

.content-box-telecoms:hover i {
  color: #d64541;
}

.content-box-telecoms:hover .read-more-container {
  background-color: white;
}

.content-box-telecoms:hover .read-span {
  color: #d64541;
}

.content-box-design {
  background-color: white;
}

.content-box-design .icn {
  background-color: #926fb1;
}

.content-box-design i {
  color: white;
}

.content-box-design .read-more-container {
  background-color: #926fb1;
}

.content-box-design .read-span {
  color: white;
}

.content-box-design:hover {
  background-color: #926fb1;
}

.content-box-design:hover h2, .content-box-design:hover .p {
  color: white;
}

.content-box-design:hover .line-div {
  border-color: white;
}

.content-box-design:hover .icn {
  background-color: white;
}

.content-box-design:hover i {
  color: #926fb1;
}

.content-box-design:hover .read-more-container {
  background-color: white;
}

.content-box-design:hover .read-span {
  color: #926fb1;
}

.content-box-security {
  background-color: white;
}

.content-box-security .icn {
  background-color: #f62459;
}

.content-box-security i {
  color: white;
}

.content-box-security .read-more-container {
  background-color: #f62459;
}

.content-box-security .read-span {
  color: white;
}

.content-box-security:hover {
  background-color: #f62459;
}

.content-box-security:hover h2, .content-box-security:hover .p {
  color: white;
}

.content-box-security:hover .line-div {
  border-color: white;
}

.content-box-security:hover .icn {
  background-color: white;
}

.content-box-security:hover i {
  color: #f62459;
}

.content-box-security:hover .read-more-container {
  background-color: white;
}

.content-box-security:hover .read-span {
  color: #f62459;
}

.content-box h2 {
  margin: 1em 1.5em 0.27em 1.5em;
  padding: 5px;
  font-size: 17px;
  text-align: center;
  font-weight: 400;
}

.content-box .p {
  margin: 0em 0.5em 1.3em 0.5em;
  padding: 25px;
  font-size: 13px;
  text-align: center;
}

.content-box .icn {
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.content-box .icn i {
  margin-right: -1.5px;
  font-size: 23px;
}

.content-box .icn #telephone {
  transform: rotate(-55deg);
  margin-left: 0.2em;
}

.line-div {
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  margin-bottom: -1em;
  width: 1.85em;
}

.read-more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 47px;
  margin: -2em 0 -1em 0;
  border: none;
  border-radius: 3px;
}

.read-more-container .read-span {
  text-align: center;
  white-space: normal;
  line-height: 50px;
  font-size: 18px;
  min-width: 100%;
  font-weight: 500;
  text-transform: uppercase;
}

/* =========ABOUT US CONTAINER OUR CULTURE========= */
.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  background-color: #333645;
  padding: 25px 0 25px 0;
}

#about-text-container {
  display: flex;
  flex-direction: column;
  margin: 0.8em 1.7em 0.5em 1em;
  line-height: 1.7em;
  padding: 5px 5% 5px 5px;
}

#about-text-container h1 {
  font-weight: 500;
  font-size: 35px;
  margin: 0.2em 0.25em 0.8em 0;
  color: white;
}

#about-text-container .about-text {
  font-weight: 500;
  font-size: 16px;
  margin: 0 0.25em 1.5em 0.25em;
  color: white;
}

#about-text-container #intro-text {
  font-weight: 700;
  font-size: 17px;
  margin: 0 0.5em 1.5em 0;
  color: white;
}

#abt-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  margin: -0.1em 0 0.8em 0.1em;
  justify-content: center;
  height: 2.7em;
  width: 180px;
  cursor: pointer;
  color: inherit;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  border-style: none;
  font-weight: 400;
  font-size: 18.2px;
  margin: 0.1em 0 0 0.4em;
}

#abt-btn-container .icon-arrow-right2 {
  margin: .1em 0em 0 0.5em;
  font-size: 18px;
  min-height: 5px;
  min-width: 5px;
}

#abt-btn-container:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

/* ========= LATEST CONTAINER SECTION HEAD ========= */
#latest-contatiner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  height: 7rem;
}

#latest-contatiner h1 {
  align-self: center;
  min-height: 4.3rem;
  max-height: 5rem;
  border-bottom: 5.3px solid black;
  margin: 1em 0 -1em 0.8em;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
}

/* ============ NEWS CARDS LINKED WITH BOOTSTRAP ============= */
#card-container {
  diplay: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  box-shadow: inset 0 35px 35px -35px rgba(0, 0, 0, 0.125);
  padding-top: 10px;
  /* News card buttons */
}

#card-container .card {
  margin: 2rem 4% 2rem 2%;
  width: 95% !important;
}

#card-container .card h5 {
  font-size: 17px !important;
  margin: 1.2em 0em 1.3em 0.8em;
  font-weight: 600 !important;
}

#card-container .card p {
  font-size: 13px;
  margin: 0 0 1.9em 0.9em;
}

#card-container .card .crd-ttl-purp {
  color: #926fb1 !important;
  font-weight: 600;
}

#card-container .card .crd-ttl-blue {
  color: #4183d7 !important;
  font-weight: 600;
}

#card-container #card-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#card-container .image-hover-zoom {
  overflow: hidden;
}

#card-container .image-hover-zoom .mini-link {
  position: absolute;
  text-align: center;
  width: 67px;
  height: 25px;
  padding: 3px 0 5px 0;
  letter-spacing: .4px;
  font-weight: 800;
  text-transform: uppercase;
  top: 10px;
  right: 0px;
  z-index: 99;
  font-size: .75rem;
  border-radius: 1px;
}

#card-container .image-hover-zoom .card-img-top {
  transition: transform 0.5s ease;
  transform: scale(1);
  z-index: 1;
}

#card-container .image-hover-zoom .card-img-top:hover {
  transition: transform 0.5s ease;
  transform: scale(1.2);
  opacity: 0.5;
  ursor: pointer;
}

#card-container .btn {
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 3px;
  text-decoration: none !important;
}

#card-container .btn-purple {
  background-color: #926fb1 !important;
  color: white;
}

#card-container .btn-purple:hover {
  background-color: #7e57a0 !important;
  color: white;
}

#card-container .btn-blue {
  background-color: #4183d7 !important;
  color: white;
}

#card-container .btn-blue:hover {
  color: white !important;
  background-color: #2a6ec6 !important;
}

/* ============== Client Icons ============ */
#client-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10em;
  box-shadow: inset 0 15px 20px 10px rgba(0, 0, 0, 0.125);
}

#client-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ci {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 3em;
  transform: scale(0.9);
}

.ci .partner-color {
  display: none;
}

.ci .description {
  display: none;
}

.ci:hover .description {
  display: flex;
}

.ci:hover .greyscale {
  display: none;
}

.ci:hover .partner-color {
  display: flex;
}

.description {
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  background-color: #333645;
  bottom: 175%;
  width: 300px;
  height: auto;
  min-width: 260px;
  max-width: 260px;
  padding: 15px;
}

.description .arrow-box {
  position: absolute;
  bottom: -10%;
  left: 31.2%;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #333645;
  color: white;
  z-index: -1;
}

.description .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
  color: white;
  width: 100%;
}

.description .box h3 {
  font-size: 17px;
}

.description .box p {
  font-size: 12px;
}

.description .box #client-line {
  font-size: 25px;
  transform: scale(1.5);
  margin-bottom: -0.5em;
}

/* =========== SIGN UP FORM ============= */
#form-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 45px;
  background-color: #dddddd;
}

#form-container-outer #form-container {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  color: inherit;
  width: 100%;
}

#form-container-outer #form-container h2 {
  font-size: 35px;
  font-weight: 400;
}

#form-container-outer #form-container #sign-up-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form-container-outer #form-container .form-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
}

#form-container-outer #form-container .form-input input {
  width: 100%;
  height: 3.09em;
  border: 2px solid rgba(0, 0, 0, 0.23);
}

#form-container-outer #form-container .form-input label {
  font-size: 16px;
  font-weight: 600;
}

#form-container-outer #form-container .form-input .ast-red {
  color: #d24d57;
  font-size: 18px;
}

#form-container-outer #form-container #checkbox-container {
  display: flex;
  flex-direction: row;
  max-height: 10rem;
  min-width: 10rem;
  font-size: 18px;
  margin-top: 0.8em;
  font-weight: 600;
}

#form-container-outer #form-container #checkbox-container label {
  width: 80%;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

#form-container-outer #form-container #checkbox-container #email-chkbox {
  appearance: none;
  width: 1.8em;
  height: 1.8em;
  border: 3px solid #333645;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
}

#form-container-outer #form-container #checkbox-container #email-chkbox ~ .icon-checkbox-checked {
  visibility: hidden;
  positon: absolute;
  height: 20px;
  margin: 0.5em 1.5em 0 -1.4em;
  transform: scale(1.9);
  z-index: 1;
}

#form-container-outer #form-container #email-chkbox:checked ~ .icon-checkbox-checked {
  visibility: visible;
}

#form-container-outer #form-container .subscribe-btn {
  width: 7.3em;
  height: 2.8em;
  text-transform: uppercase;
  line-height: 35px;
  white-space: normal;
  border-radius: 3px;
  background-color: #333645;
  color: white;
  margin-top: 1.8rem;
  font-weight: 500;
  font-size: 1.063rem;
}

/* ============ WEBSITE FOOTER ============ */
#foot-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333645;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 35rem;
}

#foot-top #footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 5em 0 0 0;
  /* social media footer buttons */
}

#foot-top #footer-container .footer-item {
  width: 100%;
  font-weight: 500;
  line-height: 1.375rem;
}

#foot-top #footer-container h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.8em;
}

#foot-top #footer-container .socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 180px;
}

#foot-top #footer-container .socials-facebook a {
  background-color: rgba(0, 0, 0, 0.25);
}

#foot-top #footer-container .socials-facebook:hover a {
  background-color: #3b5998;
}

#foot-top #footer-container .socials-twitter a {
  background-color: rgba(0, 0, 0, 0.25);
}

#foot-top #footer-container .socials-twitter:hover a {
  background-color: #00aced;
}

#foot-top #footer-container .socials-linkedin a {
  background-color: rgba(0, 0, 0, 0.25);
}

#foot-top #footer-container .socials-linkedin:hover a {
  background-color: #0077b5;
}

#foot-top #footer-container .socials-container {
  width: 46.5%;
}

#foot-top #footer-container .socials-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.51rem;
  border-radius: 1px;
  text-decoration: none;
}

#foot-top #footer-container .socials-container a i {
  color: white;
  font-size: 25px;
}

#partner-images {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  padding: 0px 4% 0px 7%;
  height: 20rem;
}

#partner-images #google-partner {
  width: 200px;
  height: 70px !important;
  box-shadow: 1px 1px 3px #999aa2;
}

#partner-images #partner-top-row, #partner-images #partner-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 30%;
  margin-bottom: -5em;
}

#partner-images .partner-item {
  margin: 0 1em 0 0;
  height: 60%;
}

#partner-images .partner-item img {
  width: 90%;
  height: 100%;
}

#partner-top-row {
  align-items: flex-end;
}

#partner-bottom-row {
  align-items: flex-start;
}

.color-partner {
  display: none;
}

.partner-item:hover .bw-partner {
  display: none;
}

.partner-item:hover .color-partner {
  display: flex;
}

/* ================================= XS Breakpoint ================================*/
@media (max-width: 767px) {
  #search-bar-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 0.3rem;
    width: 100%;
    margin: 2em 0.5em 0 0.5em;
    order: 3;
  }
  #search-bar-container ::placeholder {
    font-size: 15px;
    color: #555;
  }
  #search-bar-container #search-input {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    width: calc(100% - 35px);
    height: 45px;
    padding-left: 12px;
    border-radius: 2px;
    z-index: 1;
  }
  #search-bar-container #search-icon-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-radius: 2px;
    z-index: 2;
  }
  #search-bar-container #search-icon-container button {
    display: block !important;
    background: transparent;
    border: none !important;
    outline: none;
    width: 101%;
    font-size: 20px;
    height: 1.35em;
    border-left: none;
  }
}

@media (max-width: 767px) {
  #search-sm {
    display: none;
  }
}

#phone-icon-container {
  display: flex !important;
  justify-content: flex-start;
  width: 27px;
  height: 27px;
}

#phone-icon-container #phone-icon {
  height: 100%;
  width: 100%;
  transform: rotate(1deg);
}

#phone-icon-container:hover {
  border-bottom: 4px solid black;
}

@media (max-width: 767px) {
  .content-box {
    min-height: 315px;
  }
}

@media (max-width: 767px) {
  #client-outer, #client-icons {
    display: none !important;
  }
}

@media (max-width: 767px) {
  #foot-top {
    height: 53rem;
    padding: 25px !important;
  }
  #foot-top #footer-container {
    margin-top: -2em !important;
  }
}

@media (max-width: 767px) {
  #partner-images {
    display: none;
  }
}

/* ================================== SM Breakpoint ================================*/
@media (min-width: 768px) {
  #page-head {
    height: 100px;
    padding-bottom: 15px;
  }
  #page-head #top-row {
    height: 100%;
  }
  #page-head #phone-icon-container #phone-icon, #page-head #search-bar-container {
    display: none;
  }
  #page-head #logo-container {
    width: 50%;
    margin-right: auto;
  }
  #page-head #logo-container #logo {
    max-width: 340px;
  }
  #page-head #menu-phone {
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    order: 3 !important;
    width: 370px;
  }
  #page-head #menu-phone #search-sm {
    display: flex;
    width: 60%;
  }
  #page-head #menu-phone #search-sm input {
    width: 178px;
    height: 3.4em;
    border: 1.1px solid #e5e5e5;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 5px 15px;
  }
  #page-head #menu-phone #search-sm textarea:focus, #page-head #menu-phone #search-sm input:focus {
    outline: none;
    box-shadow: inset rgba(0, 0, 0, 0.075) 0px 1px 1px 0px, rgba(91, 192, 222, 0.6) 0px 0px 8px 0px;
    border-color: rgba(91, 192, 222, 0.6);
    transition: box-shadow ease-in-out 0.3s, border-color ease-in-out 0.3s;
  }
  #page-head #menu-phone button {
    background-color: #999aa2;
    height: 3.4em;
    width: 55px;
    border: none !important;
    outline: none !important;
    border-image: none !important;
    border-style: none !important;
  }
  #page-head #menu-phone i {
    margin-top: 0.2em;
    color: white;
    font-size: 23px;
  }
  #page-head #menu-phone button:hover {
    background-color: #7e808a;
  }
  #page-head #phone-icon-container, #page-head #phone-icon, #page-head #phone-icon-container:hover {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .bottom-4-box {
    max-width: 40% !important;
  }
}

@media (min-width: 768px) {
  #client-outer {
    height: 7.9em;
  }
}

@media (min-width: 768px) {
  #client-icons {
    justify-content: space-around !important;
    width: 60%;
  }
  #client-icons .ci {
    transform: scale(0.7);
    margin: 0 !important;
  }
}

@media (min-width: 768px) {
  #footer-container {
    height: 45em;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    margin-left: 3em;
  }
  #footer-container .footer-item {
    width: 40% !important;
  }
  #footer-container .socials {
    width: 80% !important;
  }
}

/*================== md breakpoint styles =================*/
@media (min-width: 992px) {
  #page-head #logo-container {
    width: 35%;
  }
  #page-head #menu-phone {
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    order: 3 !important;
    width: 550px;
  }
  #page-head #menu-phone #search-sm {
    width: 70px;
  }
  #page-head #menu-phone #search-sm input {
    display: none;
  }
  #page-head #menu-phone .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5em;
    height: 3em;
    background-color: red;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    padding-right: 3px;
    line-height: 35px;
    text-align: center;
  }
  #page-head #menu-phone .header-btn a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  #page-head #menu-phone .header-btn i {
    margin: 0.7em 0.1em 0 0;
  }
  #page-head #menu-phone #support-link {
    background-color: #4183d7;
  }
  #page-head #menu-phone #support-link:hover {
    background-color: #2a6ec6;
  }
  #page-head #menu-phone #contact-link {
    background-color: #999aa2;
  }
  #page-head #menu-phone #contact-link:hover {
    background-color: #7e808a;
  }
}

@media (min-width: 992px) {
  #image-slider-container {
    flex-direction: column;
    align-content: flex-start !important;
    justify-content: flex-start !important;
    align-content: flex-start;
    padding-left: 8%;
  }
  #image-slider-container #image-inner {
    width: 60%;
    align-self: flex-start;
  }
  #image-slider-container p {
    text-align: left;
    align-self: flex-start;
    font-size: 14;
  }
  #image-slider-container h1 {
    text-align: left;
    align-self: flex-start;
  }
  #image-slider-container a {
    align-self: flex-start;
  }
}

@media (min-width: 992px) {
  .content-boxes-container {
    flex-direction: row !important;
    justify-content: center;
  }
  .content-boxes-container .top-3-box {
    width: 18em;
    min-height: 25rem;
  }
}

@media (min-width: 992px) {
  #card-container {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    padding-left: 6.5em;
  }
  #card-container .c3 {
    display: none;
  }
  #card-container .card {
    width: 40% !important;
  }
}

@media (min-width: 992px) {
  #client-outer {
    height: 10em;
  }
}

@media (min-width: 992px) {
  #client-icons {
    width: 100%;
    padding: 0 3em 0 3em;
  }
  #client-icons .ci {
    transform: scale(0.9) !important;
  }
}

@media (min-width: 992px) {
  #sign-up-inputs {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
  }
  #sign-up-inputs .form-input {
    width: 48% !important;
  }
}

@media (min-width: 992px) {
  .partner-item {
    transform: scale(1.4);
  }
}

@media (min-width: 992px) {
  #google-partner {
    transform: scale(0.8) !important;
  }
}

/* =========================== LG Breakpoint ============================ */
#top-row, #content-inner, #about-text-container, #card-inner, #client-icons, #form-container, #footer-container, #partner-top-row, #partner-bottom-row {
  max-width: 1260px !important;
}

@media (min-width: 1260px) {
  #menu-phone {
    display: flex;
    width: 55% !important;
    justify-content: space-between !important;
  }
  #menu-phone #search-sm input {
    display: flex !important;
  }
}

@media (min-width: 1260px) {
  #search-sm {
    display: flex !important;
    width: 15em !important;
  }
  #search-sm input {
    display: flex !important;
  }
}

/*image slider */
@media (min-width: 1260px) {
  #image-slider-container {
    justify-content: center !important;
    flex-direction: row;
    padding: 0% !important;
  }
  #image-slider-container #image-inner {
    justify-content: center !important;
    align-items: center !important;
    max-width: 80rem !important;
    width: 98% !important;
    padding-left: 2em;
    margin: auto;
  }
}

/* content boxes */
@media (min-width: 1260px) {
  #content-inner {
    width: 100%  !important;
    justify-content: space-between !important;
    padding: 25px !important;
  }
}

@media (min-width: 1260px) {
  .top-3-box {
    flex-direction: column;
    min-height: 18rem !important;
    max-height: 18rem;
    min-width: 22.5rem;
    margin: 0 !important;
    padding: 0px !important;
  }
  .top-3-box .icn {
    margin-top: -1em;
  }
  .top-3-box p {
    padding: 25px 25px !important;
    text-align: left !important;
    font-size: 15px !important;
  }
}

@media (min-width: 1260px) {
  .bottom-4-box {
    width: 21% !important;
    min-height: 390px;
    padding: 0px !important;
    margin: 2em 0 0 0 !important;
    justify-content: center !important;
  }
  .bottom-4-box h3 {
    width: 100%;
    padding: 0px;
  }
  .bottom-4-box p {
    width: 100%;
  }
}

/* About us Container */
@media (min-width: 1260px) {
  .about-us-container {
    flex-direction: row;
    justify-content: center !important;
  }
}

@media (min-width: 1260px) {
  #about-text-container {
    padding-left: 1.5em !important;
    width: 100% !important;
  }
  #about-text-container .about-lg {
    max-width: 30rem;
  }
}

#card-container {
  padding-left: 0 !important;
}

@media (min-width: 1260px) {
  #card-inner {
    justify-content: flex-start !important;
    width: 100% !important;
    margin: 0 !important;
    padding-left: 0 !important;
  }
  #card-inner .c3 {
    display: flex;
  }
  #card-inner .card {
    width: 27.2% !important;
  }
}

@media (min-width: 1260px) {
  #client-icons {
    width: 98%;
    padding-right: 7em;
  }
  #client-icons .ci {
    transform: scale(1) !important;
  }
  #client-icons .description {
    bottom: 162%;
  }
}

@media (min-width: 1260px) {
  #foot-top {
    flex-direction: row;
    justify-content: center !important;
    height: 30em;
  }
  #foot-top #footer-container {
    width: 80% !important;
    justify-content: space-between !important;
    margin: 0 !important;
  }
  #foot-top #footer-container .footer-item {
    width: 15% !important;
    margin: 0 7em 0 0;
  }
  #foot-top #footer-container .socials {
    width: 20em !important;
  }
}

#partner-images {
  justify-content: center;
}
