@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?c9kw9z");
  src: url("../fonts/icomoon.eot?c9kw9z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c9kw9z") format("truetype"), url("../fonts/icomoon.woff?c9kw9z") format("woff"), url("../fonts/icomoon.svg?c9kw9z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

/* Header */
header {
  background-color: grey;
  box-sizing: border-box;
  width: 100%;
}

#page-head {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 10.3rem;
  width: 100%;
}

#mobile-top-row {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: -2% -2% 0 -2%;
}

#logo-container {
  max-width: 450px;
  width: 87%;
  height: 50%;
  margin: 2.1rem 0rem 1rem 0.5rem;
  order: -1;
}

#logo {
  width: 100%;
  height: 98%;
}

#chat-icon {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  top: 1.2rem;
  left: 1.9rem;
  z-index: 99;
}

#search-bar-container {
  display: flex;
  max-width: 600px;
  height: 2.9rem;
  width: 100%;
  margin: -0.5rem 0.5rem 0rem 0.5rem;
  order: 3;
}

#search-bar-container #search-icon-container {
  width: 50px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left: none;
}

#search-bar-container ::placeholder {
  font-size: 15px;
  color: #555;
  font-family: 'Poppins', sans-serif;
}

#search-input {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  width: calc(100% - 30px);
  height: auto;
  padding-left: 12px;
}

#search-icon {
  margin: 10px 0px 0px 15px;
  width: 1.25em;
  height: 1.25em;
  border-left: none;
}

#search-button {
  display: none;
  margin-right: 2.8rem;
  width: 2rem;
  order: 9;
}

#links-container {
  visibility: hidden;
  order: 5;
  align-items: flex-start;
}

#menu-button-container {
  max-width: 600px;
  margin: 2rem 1rem 0rem 0.23rem;
  width: 4.0rem;
  height: auto;
  color: black;
  height: 2.0rem;
  order: 2;
}

#menu-button-container #menu-button {
  height: 3.5rem;
  width: 4.0rem;
  cursor: pointer;
  border-radius: 3px;
}

#phone-icon-container {
  margin: 3.0rem 2rem 0rem 0.8rem;
  width: 37px;
  color: black;
  height: 2.0rem;
  order: 1;
}

#phone-icon-container #phone-icon {
  height: auto;
  width: 93%;
  transform: rotate(-5deg);
}

/* image slider */
#outer-image-container {
  width: 100vw;
  height: 100vh;
}

#image-slider-container {
  height: 100vh;
  width: 110%;
  margin-top: -1%;
  margin-left: -5%;
  width: 110%;
  height: 100%;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.45) 100%, transparent 25%), url("../images/cyber_zoom.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#image-slider-container h1 {
  color: white;
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
}

#image-slider-container p {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 19px;
  top: 52%;
  left: 10%;
  width: 80%;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
}

#cyber-btn {
  position: absolute;
  background-color: #f62459;
  border-color: #f62459;
  border-radius: 3px;
  color: white;
  top: 68%;
  left: 28%;
  width: 18em;
  height: 4.7em;
  z-index: 2;
  cursor: pointer;
}

.slider-button {
  display: flex;
  margin-left: 1.8rem;
  font-size: 18px;
}

#arrow-button {
  height: 5px;
  width: 5px;
}

.icon-arrow-right2 {
  font-size-adjust: auto;
  font-size: 20px;
  padding-left: 10px;
}
