@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?c9kw9z");
  src: url("../fonts/icomoon.eot?c9kw9z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c9kw9z") format("truetype"), url("../fonts/icomoon.woff?c9kw9z") format("woff"), url("../fonts/icomoon.svg?c9kw9z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  min-width: 100vw;
}

body h1 h2 {
  font-weight: 600;
}

body p {
  font-weight: 400;
}

/* Header */
header {
  background-color: grey;
  box-sizing: border-box;
  width: 100vw;
}

#page-head {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 10.3rem;
  width: 100vw;
}

#mobile-top-row {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: -2% -2% 0 -2%;
}

#logo-container {
  max-width: 450px;
  width: 87%;
  height: 50%;
  margin: 2.1rem 0rem 1rem 0.5rem;
  order: -1;
}

#logo {
  width: 95%;
  height: 98%;
}

#chat-icon {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  top: 1.2rem;
  left: 1.9rem;
  z-index: 99;
}

#search-bar-container {
  display: flex;
  max-width: 600px;
  height: 2.9rem;
  width: 100%;
  margin: -0.5rem 1.3rem 0rem 0.5rem;
  order: 3;
}

#search-bar-container #search-icon-container {
  width: 50px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left: none;
}

#search-bar-container ::placeholder {
  font-size: 15px;
  color: #555;
}

#search-input {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  width: calc(100% - 30px);
  height: auto;
  padding-left: 12px;
}

#search-icon {
  margin: 10px 0px 0px 15px;
  width: 1.25em;
  height: 1.25em;
  border-left: none;
}

#search-button {
  display: none;
  margin-right: 2.8rem;
  width: 2rem;
  order: 9;
}

#links-container {
  visibility: hidden;
  order: 5;
  align-items: flex-start;
}

#menu-button-container {
  max-width: 600px;
  margin: 2rem 2rem 0rem 0.23rem;
  width: 4.0rem;
  height: auto;
  color: black;
  height: 2.0rem;
  order: 2;
}

#menu-button-container #menu-button {
  height: 3.5rem;
  width: 4.0rem;
  cursor: pointer;
  border-radius: 3px;
}

#phone-icon-container {
  margin: 3.0rem 2rem 0rem 0.8rem;
  width: 37px;
  color: black;
  height: 2.0rem;
  order: 1;
}

#phone-icon-container #phone-icon {
  height: auto;
  width: 93%;
  transform: rotate(-5deg);
}

/* image slider */
#outer-image-container {
  width: 105vw;
  height: 100vh;
}

#image-slider-container {
  height: 98vh;
  min-width: 100vw;
  margin-top: -1%;
  margin-left: -5%;
  padding-right: 5%;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0.45) 100%, transparent 25%), url("../images/cyber.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#image-slider-container h1 {
  color: white;
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 2;
  font-size: 45px;
  font-weight: 600;
}

#image-slider-container p {
  color: white;
  position: absolute;
  text-align: center;
  font-size: 19px;
  top: 52%;
  left: 10%;
  width: 80%;
  z-index: 2;
}

#cyber-btn {
  position: absolute;
  background-color: #f62459;
  border-color: #f62459;
  border-radius: 3px;
  color: white;
  top: 68%;
  left: 28%;
  width: 18em;
  height: 4.7em;
  z-index: 2;
  cursor: pointer;
}

.slider-button {
  display: flex;
  margin-left: 1.8rem;
  font-size: 18px;
}

#arrow-button {
  font-size-adjust: auto;
  font-size: 20px;
  padding-left: 10px;
  min-height: 5px;
  min-width: 5px;
}

/* Content Boxes */
.content-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -0.5em 0 -0.5em;
}

.content-box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  width: 93vw;
  margin: 25px 10px 10px 10px;
}

.content-box-software {
  background-color: white;
}

.content-box-software .icn {
  background-color: #67809f;
}

.content-box-software i {
  color: white;
}

.content-box-software .read-more-container {
  background-color: #67809f;
}

.content-box-software .read-span {
  color: white;
}

.content-box-software:hover {
  background-color: #67809f;
}

.content-box-software:hover h2, .content-box-software:hover .p {
  color: white;
}

.content-box-software:hover .line-div {
  border-color: white;
}

.content-box-software:hover .icn {
  background-color: white;
}

.content-box-software:hover i {
  color: #67809f;
}

.content-box-software:hover .read-more-container {
  background-color: white;
}

.content-box-software:hover .read-span {
  color: #67809f;
}

.content-box-it {
  background-color: white;
}

.content-box-it .icn {
  background-color: #4183d7;
}

.content-box-it i {
  color: white;
}

.content-box-it .read-more-container {
  background-color: #4183d7;
}

.content-box-it .read-span {
  color: white;
}

.content-box-it:hover {
  background-color: #4183d7;
}

.content-box-it:hover h2, .content-box-it:hover .p {
  color: white;
}

.content-box-it:hover .line-div {
  border-color: white;
}

.content-box-it:hover .icn {
  background-color: white;
}

.content-box-it:hover i {
  color: #4183d7;
}

.content-box-it:hover .read-more-container {
  background-color: white;
}

.content-box-it:hover .read-span {
  color: #4183d7;
}

.content-box-marketing {
  background-color: white;
}

.content-box-marketing .icn {
  background-color: #2ecc71;
}

.content-box-marketing i {
  color: white;
}

.content-box-marketing .read-more-container {
  background-color: #2ecc71;
}

.content-box-marketing .read-span {
  color: white;
}

.content-box-marketing:hover {
  background-color: #2ecc71;
}

.content-box-marketing:hover h2, .content-box-marketing:hover .p {
  color: white;
}

.content-box-marketing:hover .line-div {
  border-color: white;
}

.content-box-marketing:hover .icn {
  background-color: white;
}

.content-box-marketing:hover i {
  color: #2ecc71;
}

.content-box-marketing:hover .read-more-container {
  background-color: white;
}

.content-box-marketing:hover .read-span {
  color: #2ecc71;
}

.content-box-telecoms {
  background-color: white;
}

.content-box-telecoms .icn {
  background-color: #d64541;
}

.content-box-telecoms i {
  color: white;
}

.content-box-telecoms .read-more-container {
  background-color: #d64541;
}

.content-box-telecoms .read-span {
  color: white;
}

.content-box-telecoms:hover {
  background-color: #d64541;
}

.content-box-telecoms:hover h2, .content-box-telecoms:hover .p {
  color: white;
}

.content-box-telecoms:hover .line-div {
  border-color: white;
}

.content-box-telecoms:hover .icn {
  background-color: white;
}

.content-box-telecoms:hover i {
  color: #d64541;
}

.content-box-telecoms:hover .read-more-container {
  background-color: white;
}

.content-box-telecoms:hover .read-span {
  color: #d64541;
}

.content-box-design {
  background-color: white;
}

.content-box-design .icn {
  background-color: #926fb1;
}

.content-box-design i {
  color: white;
}

.content-box-design .read-more-container {
  background-color: #926fb1;
}

.content-box-design .read-span {
  color: white;
}

.content-box-design:hover {
  background-color: #926fb1;
}

.content-box-design:hover h2, .content-box-design:hover .p {
  color: white;
}

.content-box-design:hover .line-div {
  border-color: white;
}

.content-box-design:hover .icn {
  background-color: white;
}

.content-box-design:hover i {
  color: #926fb1;
}

.content-box-design:hover .read-more-container {
  background-color: white;
}

.content-box-design:hover .read-span {
  color: #926fb1;
}

.content-box-security {
  background-color: white;
}

.content-box-security .icn {
  background-color: #f62459;
}

.content-box-security i {
  color: white;
}

.content-box-security .read-more-container {
  background-color: #f62459;
}

.content-box-security .read-span {
  color: white;
}

.content-box-security:hover {
  background-color: #f62459;
}

.content-box-security:hover h2, .content-box-security:hover .p {
  color: white;
}

.content-box-security:hover .line-div {
  border-color: white;
}

.content-box-security:hover .icn {
  background-color: white;
}

.content-box-security:hover i {
  color: #f62459;
}

.content-box-security:hover .read-more-container {
  background-color: white;
}

.content-box-security:hover .read-span {
  color: #f62459;
}

.content-box h2 {
  color: black;
  margin: 5em 1.5em 0.27em 1.5em;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.content-box .p {
  color: black;
  margin: 0em 0.5em 3em 0.5em;
  padding: 30px;
  font-size: 13.2px;
  text-align: center;
}

.content-box .icn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 55px;
  margin: 2em 0 -5em 0;
  border-radius: 50%;
}

.content-box .icn i {
  font-size: 21px;
}

.content-box .icn #telephone {
  transform: rotate(-50deg);
  margin-left: 0.2em;
}

.line-div {
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
  margin-bottom: -1em;
  width: 1.85em;
}

.read-more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  min-height: 50px;
  max-height: 45px;
  max-width: 130px;
  margin: -3em 0 2em 0;
  border: none;
  border-radius: 3px;
}

.read-more-container .read-span {
  font-size: 17px;
  min-width: 100%;
  font-weight: 600;
  margin-left: 2em;
}

/* about-us-container */
.about-us-container {
  display: flex;
  flex-direction: column;
  min-width: 105vw;
  margin-left: -0.5rem;
  background-color: #333645;
  padding: 25px 0 25px 0;
}

#about-text-container {
  display: flex;
  flex-direction: column;
  margin: 0.7em 1.7em 0.5em 1em;
  line-height: 2em;
  padding: 5px 5% 5px 5px;
}

#about-text-container h1 {
  font-weight: 500;
  font-size: 35px;
  margin: 0 0.25em 0.8em 0;
  color: white;
}

#about-text-container .about-text {
  font-weight: 500;
  font-size: 17px;
  margin: 0 0.25em 1.5em 0.25em;
  color: white;
}

#about-text-container #intro-text {
  font-weight: 700;
  font-size: 17px;
  margin: 0 0.5em 1.5em 0;
  color: white;
}

#abt-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1em 0.1em;
  justify-content: center;
  max-width: 13em;
  min-height: 50px;
  max-height: 50px;
  cursor: pointer;
  color: #333645;
  background-color: #fff;
  border-radius: 5px;
}

#abt-btn-container #culture-btn-txt {
  font-weight: 500;
  font-size: 17px;
  margin: 0.1em 0 0 0.4em;
}

#abt-btn-container #culture-arrow {
  margin: .1em 0em 0 0.5em;
  font-size: 18px;
  min-height: 5px;
  min-width: 5px;
}
