/* ================================= XS Breakpoint ================================*/

#search-bar-container {
@include mq('xs') {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 0.3rem;
  width: 100%;
  margin: 2em 0.5em 0 0.5em;
  order: 3;
  ::placeholder {
      font-size: 15px;
      color: #555;
        }
    #search-input {
        display: block !important;
        background-color: rgba(0,0,0,.1);
        outline: 1px solid hsla(0,0%,100%,.2);
        border: 2px solid rgba(0,0,0,.1);
        border-right: none;
        width: calc(100% - 35px);
        height: 45px;
        padding-left: 12px;
        border-radius: 2px;
        z-index: 1;
              }
    #search-icon-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 45px;
        background-color: rgba(0,0,0,.1);
        border: 2px solid rgba(0,0,0,.1);
        border-left: none;
        border-radius: 2px;
        z-index: 2;
        button {
          display: block!important;
          background: transparent;
          border: none !important;
          outline: none;
          width: 101%;
          font-size: 20px;
          height: 1.35em;
          border-left: none;

                  }
                }
              }
            }
  #search-sm {
   @include mq('xs'){
    display: none;
  }
}

#phone-icon-container {
@include mq('xs')
  display: flex !important;
  justify-content: flex-start;
  width: 27px;
  height: 27px;
  margin-right: 3em;
  #phone-icon {
      height: 100%;
      width: 100%;
      transform: rotate(1deg);

  }
}

#phone-icon-container:hover {
  border-bottom: 4px solid black;
}

.about-us-container {
  @include mq('xs') {
    background-image: none;
    background-color: map-get($more-colors, 'darkgrey');
  }

}


.content-box {
  @include mq('xs'){
    min-height: 315px;
  }
}

#client-outer, #client-icons {
  @include mq('xs') {
  display: none !important;
  }
}

#foot-top {
  @include mq('xs') {
  height: 53rem;
  padding: 25px !important;
  #footer-container {
    margin-top: -2em !important;
  }
}
}


#partner-images {
  @include mq('xs'){
    display: none;
  }
}
/* ================================== SM Breakpoint ================================*/
#top-row, #content-inner, #about-text-container, #card-inner, #client-icons, #form-container, #footer-container, #partner-top-row, #partner-bottom-row, #latest-inner{
  @include mq('sm') {
  max-width: 768px !important;
}
}

#page-head {
  @include mq('sm'){
  height: 100px;
  padding-bottom: 15px;


  #top-row {
    height: 100%;

  }

  #phone-icon-container #phone-icon, #search-bar-container {
    display: none;
   }

  #logo-container {
   width: 50%;
   margin-right: auto;
   #logo {
     max-width: 340px;
   }
     }

  #menu-phone{
     display: -ms-flex;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     order: 3 !important;
     width: 370px;

     #search-sm {
         display: flex;
         width: 60%;

         input {
           width: 178px;
           height: 3.4em;
           border: 1.1px solid #e5e5e5;
           border-width: 1px;
           border-color: #ccc;
           box-shadow: rgba(0,0,0, 0.075);
           transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
           padding: 5px 15px;
                    }
          textarea:focus, input:focus{
              outline: none;
              box-shadow: inset rgba(0,0,0, 0.075) 0px 1px 1px 0px, rgba(91, 192, 222, 0.6) 0px 0px 8px 0px;
              border-color: rgba(91, 192, 222, 0.6);
              transition: box-shadow ease-in-out 0.3s, border-color ease-in-out 0.3s;

            }


          }

         button {
           background-color: map-get($more-colors, 'searchgrey');
           height: 3.4em;
           width: 55px;
           border: none!important;
           outline: none!important;
           border-image: none!important;
           border-style: none!important;

          }
          i {
            margin-top: 0.2em;
            color: white;
            font-size: 23px;
          }
          button:hover {
            background-color: map-get($more-colors, 'searchhovergrey')
          }
       }
     #menu-button-container {

     }

   #phone-icon-container, #phone-icon, #phone-icon-container:hover {
     display: none !important;
 }
  }
}


.card {
  @include mq('sm'){

   width: 43% !important;

  }
}


.c3 {
  @include mq('sm'){
    display: none;
  }
}


.bottom-4-box {
  @include mq('sm'){
    max-width: 44.5% !important;
}
}
#client-outer{
  @include mq('sm'){
  height: 7.9em;
  }
}
#client-icons {
  @include mq('sm') {
  justify-content: space-around !important;
  width: 50%;
    .ci {
    transform: scale(0.7);
    margin: 0 -1em 0 -1em!important;

    }
    }
}

.description {
  @include mq('sm'){
  width: 300px !important;
  max-width: 600px !important;
  height: auto;
  font-size: 22px;
  }
}


#footer-container {
    @include mq('sm') {
      height: 45em;
      flex-direction: row !important;
      flex-wrap: wrap !important;
      width: 100% !important;
      margin-left: 3em;




  .footer-item {
    width: 40% !important;
  }

  .socials {
    width: 80% !important;
  }

}
}

/*================== md breakpoint styles =================*/

#top-row, #content-inner, #about-text-container, #card-inner, #client-icons, #form-container, #footer-container, #partner-top-row, #partner-bottom-row, #latest-inner{
  @include mq('md') {
  max-width: 992px !important;
}
}


#page-head {
  @include mq('md') {
      #logo-container {
        width: 35%;
      }

      #menu-phone{
         display: -ms-flex;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         order: 3 !important;
         width: 550px;
         #search-sm {
           width: 70px;

           input {
             display: none;
           }
       }
    .header-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.5em;
      height: 3em;
      background-color: red;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 0.1px;
      font-size: 19px;
      font-weight: 500;
      color: white;
      padding-right: 3px;
      line-height: 35px;
      text-align: center;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
      }
      i {
        margin: 0.7em 0.1em 0 0;
      }
      }
    #support-link {
      background-color: map-get($more-colors, 'cardblue');
      }
    #support-link:hover {
      background-color: map-get($more-colors, 'cardbluehover');
        }
    #contact-link {
      background-color: map-get($more-colors, 'searchgrey');
      }
    #contact-link:hover {
      background-color: map-get($more-colors, 'searchhovergrey');
      }
    }
  }
}
#image-slider-container {
  @include mq('md') {
    flex-direction: column;
    align-content: flex-start !important;
    justify-content: flex-start !important;
    align-content: flex-start;
    padding-left: 8%;

    #image-inner {
      width: 60%;
      align-self: flex-start;
    }
     p {
      text-align: left;
      align-self: flex-start;
      font-size: 14;
    }
    h1 {
      text-align: left;
      align-self: flex-start;
    }
    a {
      align-self: flex-start;
    }
  }
}

.content-boxes-container {
  @include mq('md'){
    flex-direction: row !important;
    .top-3-box {
      width: 18em;
      min-height: 20em;
          }
      }
}

#card-container {
  @include mq('md'){
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 100% !important;


    .c3 {
      display: none;
    }
    .card {
      width: 44% !important;
    }
  }
}
#client-outer {
  @include mq('md') {
    height: 10em;
    }
  }

#client-icons{
  @include mq('md') {
  width: 100%;
  padding:0 3em 0 3em;

  .ci {transform: scale(0.9) !important;
  margin: 0 !important}
  }
}


#sign-up-inputs {
  @include mq('md'){
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
    .form-input {
      width: 48% !important;
    }
  }
}



.partner-item {
  @include mq('md'){
    transform: scale(1.4);
      }
    }

#google-partner {
    @include mq('md'){
  transform: scale(0.8)!important;
}
}

/* =========================== LG Breakpoint ============================ */


#top-row, #content-inner, #about-text-container, #card-inner, #client-icons, #form-container, #footer-container, #partner-top-row, #partner-bottom-row, #latest-inner{
  @include mq('lg') {
  max-width: 1260px !important;
}
}

.mp-item {
  @include mq('lg') {
  margin-right: 1.5em;
}
}

#menu-phone {
  @include mq('lg') {
    display: flex;
    width: 65% !important;

#search-sm{
    input{ display: flex !important; }
      }
    }
  }
#search-sm{
  @include mq('lg') {
    display: flex !important;
    width: 15em !important;
    input{
        display: flex !important;
        width: 30em !important;
      }
    }
  }

/*image slider */

  #image-slider-container{
  @include mq('lg') {
    justify-content: center !important;
    flex-direction: row;
    padding: 0% !important;


    #image-inner {
      justify-content: center!important;
      align-items: center !important;
      max-width: 80rem !important;
      width: 98% !important;
      padding-left: 2em;
      margin: auto;

      }
    }
  }



/* content boxes */


#content-inner {
  @include mq('lg') {
  width: 100%  !important;
  justify-content: space-between !important;
  padding: 25px !important;

}
}

.top-3-box {
  @include mq('lg') {
    flex-direction: column;
    min-height: 18rem !important;
    max-height: 18rem;
    min-width: 22.5rem;
    margin: 0 !important;
    padding: 0px!important;

    .icn {
      margin-top: -1em;
          }
    p {
      padding: 25px 25px !important;
      text-align: left !important;
      font-size: 15px !important;
    }
  }
}


.bottom-4-box {
  @include mq('lg') {
  width: 23% !important;
  min-height: 310px;
  padding: 0px !important;
  margin: 2em 0 0 0!important;
  justify-content: center !important;


  h3 {
    width: 100%;
    padding: 0px;
  }
  p {
    width: 100%;
  }
  }
}



/* About us Container */
.about-us-container {
  @include mq('lg') {
  flex-direction: row;
  justify-content: center !important;

  }
}
#about-text-container {
  @include mq('lg') {
    padding-left: 1.5em!important;
    width: 100%!important;
    .about-lg {
      max-width: 30rem;
    }
    }

  }


/* News card breakpoints */
#card-container {

  @include mq('lg') {
  padding-left: 0 !important;
}
}
#card-inner {
  @include mq('lg') {
  justify-content: flex-start !important;
  width: 100% !important;

  margin: 0 !important;
  padding-left: 0!important;
  .c3 {
    display: flex;
  }
  .card {
    width: 27.2% !important;
    }
  }
}

#client-icons{
  @include mq('lg') {
  width: 98%;
  padding-right: 7em;
  .ci {transform: scale(1) !important;}
  .description {
    bottom: 162%;
  }
  }
}
#foot-top {
  @include mq('lg'){
    flex-direction: row;
    justify-content: center !important;
    height:30em;

    #footer-container {
      width: 80% !important;
      justify-content: space-between !important;
      margin: 0 !important;

      .footer-item{
        width: 15% !important;
        margin: 0 7em 0 0;
      }
      .socials {
        width: 20em !important;
      }
    }

  }
}

#partner-images {
  justify-content: center;
}
