@mixin content-boxes {
    display: flex;
    display: -ms-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 3px;



          }

@mixin nav($map) {
  @each $theme, $color in $map {
    .navboth-#{$theme}{
        i { color: $color; }
        }
    .nav-#{$theme}:hover{
      .nav-link-item { background-color: $color; }
      i {color: white;}
      .nav-menu {
        display: flex;
        background-color: $color;
        text-transform: uppercase;
      }
    }
  }
}

@mixin menu($map) {
  @each $theme, $color in $map {
    .menu-#{$theme}{
           background-color: $color !important;
      }
    }
}




@mixin themes($map) {
  @each $theme, $color in $map {
    &-#{$theme}{
      background-color: white;
      .icn {
          background-color: $color;
        }
      i{
          color: white;
        }
        .read-more-container{
          background-color: $color;
                }
          .read-span { color: white;
          }
      }
      &-#{$theme}:hover {
        background-color: $color;
          h2, .p {color: white;}
          .line-div {
            border-color: white;
          }
          .icn {
            background-color: white;
          }
          i {
            color: $color;
          }
          .read-more-container{
            background-color: white;
                  }
          .read-span {
            color: $color
          }

        }
      }
    }


@mixin form-input {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  input {
    width: 100%;
    height: 3.09em;
    padding-left: 15px;
    font-size: 13.5px;
  }
  label{
    font-size: 16px;
    font-weight: 600;
      }
  .input-area {
      border: 2px solid rgba(0,0,0,.23);
            }

  .input-area:focus{
    outline: none;
    box-shadow: inset rgba(0,0,0, 0.075) 0px 1px 1px 0px, rgba(91, 192, 222, 0.6) 0px 0px 8px 0px;
    border: 1.1px solid rgba(91, 192, 222, 0.7);
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  .input-invalid {
      border: 0.2px solid #d64541;
      outline: none;
      }
  .input-invalid:focus{
    outline: none;
    box-shadow: inset rgba(0,0,0, 0.075) 0px 1px 1px 0px, rgba(91, 192, 222, 0.6) 0px 0px 8px 0px;
    border: 1.1px solid #d64541;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
};
@mixin socials($map) {
  @each $theme, $color in $map {
    &-#{$theme} {
        a { background-color: rgba(0,0,0,.25); }
          }
    &-#{$theme}:hover {
        a { background-color: $color; }
      }

  }
};

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, 'sm');

  @if $value == null {
    @warn '"#{$break}" is not a valid breakpoint name'
      }
    @else if $value < $sm {
      @media (max-width: $value) {
        @content;
      }
    }
    @else {
        @media (min-width: $value) {
          @content;
        }
    }
  };

@mixin slider($map) {
  @each $theme, $item in $map {
    .slide-#{$theme}{

      a {
        background-color: $item;
        border-color: $item;
        color: white;
        }
    }
  }
}

@mixin slider-alt($map) {
  @each $theme, $item in $map {
    .slide-alt-#{$theme}{

      a:hover {
        background-color: $item;
        border-color: $item;
        text-decoration: none;

        }
    }
  }
}
